@use '../Shared/colors' as *;
.link{
    margin: 15px !important;
    color: red !important;
    border-radius: 30px !important;
}
.navbar{
    background-image: url('/Assets/Svgs/nav.svg');
    background-color: $green;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 65px;
}
.navlink {
  text-decoration: none;
  color: $white;
  font-size: 18px;
}
.menuList{
    flex-grow: 1;
    flex-direction: row-reverse;
}
.button{
    color: $green;
    background-color: $white;
    border-radius: 10px;
    font-size: 13px;
    &:hover{
        background-color: $gray;
    }
}
.cartbutton{
    position: relative;
    overflow: hidden;
    color: $white;
    &::before{
        position: absolute;
        content: '|';
        width: 10px;
        height: 10px;
        color: white;
        opacity: 0.5;
        left: 0%;
        top: 15%;
    }
}
.textbutton{
    position: relative;
    overflow: hidden;
    color: $white;
}
.langbutton{
    color: white;
}
